@tailwind base;
@tailwind components;
@tailwind utilities;

body{
      box-sizing: border-box;
      font-family: "Lato", sans-serif;
}

.container{
      max-width: 1140px ;
      padding-left: 10px;
      padding-right: 10px;
}